Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
python-http-client==3.2.6
Werkzeug==1.0.0
PyYAML>=4.2b1
six==1.11.0
pytest==3.8.2
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.4
idna==2.5
lxml==4.9.1
requests==2.20.0
selenium==3.4.3
urllib3==1.24.2
